/* TABLE */
.xoo-wl-table-container {
    max-width: 1400px;
    padding: 20px;
}

.xoo-wl-exp-container {
    padding: 30px 0 10px 20px;
}

table.xoo-wl-table {
    padding-top: 20px;
}

.xoo-wl-table-container table.xoo-wl-table tbody td {
    text-align: center;
    padding: 20px 10px;
    font-weight: 600;
}

.xoo-wl-table-container table.xoo-wl-table thead th {
    padding: 18px 10px;
    font-weight: 600;
}

table.xoo-wl-table thead {
    background-color: #0073aa;
    color: #fff;
}

table.xoo-wl-table thead th {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.xoo-wl-table-btn {
    padding: 4px 8px;
    color: #0073aa;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid #0073aa;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
}

.xoo-wl-table-container .dataTables_wrapper .dataTables_info {
    padding-top: 20px;
}

table.xoo-wl-table tbody td {
    font-size: 14px;
}

table.xoo-wl-table {
    border-bottom: 0!important;
    padding-bottom: 16px;
}

.xoo-wl-pimg img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: auto;
    margin-right: 11px;
}

.xoo-wl-pimg {
    display: flex;
    align-items: center;
    justify-content: left;
}

td.xoo-wltd-pname {
    max-width: 500px;
}

td.xoo-wltd-pname a span {
    display: block;
    text-align: left;
}

.xoo-wl-ut-email span.dashicons {
    margin-left: 1px;
    color: green;
    font-size: 16px;
    vertical-align: middle;
}

.xoo-wl-ut-header {
    display: block;
    max-width: 1400px;
    width: 100%;
}

.xoo-wl-uth-cont > img {
    max-width: 100px!important;
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.xoo-wl-uth-cont {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.xoo-wl-uth-right > span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
    max-width: 500px;
}

.xoo-wl-remove-row {
    color: #ea2828;
    cursor: pointer;
    margin-right: 10px;
}

.xoo-wl-notice-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.xoo-wl-notice-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.xoo-wl-notices {
    display: none;
    margin-top: 10px 0;
}

.xoo-wl-notice-error , .xoo-wl-notice-success {
    padding: 9px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    display: table;
    min-width: 500px;
    text-align: center;
}

.xoo-wl-ut-ucount span , .xoo-wl-ut-qcount span {
    display: inline-block;
    font-weight: bold;
    color: #0073aa;
    margin-left: 5px;
}

div#xoo-wl-placeholder-nfo span {
    display: inline-block;
    padding: 10px;
    border: 1px solid #eee;
}

.xoo-wl-tr-notice {
    font-size: 20px;
    font-weight: 600;
}

td.xoo-wl-tr-notice .xoo-wl-notice-success, td.xoo-wl-tr-notice .xoo-wl-notice-error {
    display: block;
    margin-bottom: 0;
}

td.xoo-wlht-status.xoo-wlht-status-completed {
    color: #20c320;
    font-weight: bold;
    text-transform: capitalize;
}

span.xoo-wl-bis-btn.xoo-wl-table-btn {
    color: #11b111;
    border-color: #11b111;
    margin: 3px;
}

.xoo-wl-expf-cont {
    display: inline-block;
    margin-right: 10px;
}

button.xoo-wl-exp-form-btn.button-primary {
    display: table;
    margin-top: 15px;
}

form.xoo-wl-exp-form, .xoo-wl-exp-active button.xoo-wl-exp-toogle {
    display: none;
}

.xoo-wl-exp-active form.xoo-wl-exp-form {
    display: block;
}

.xoo-wl-loading {
    pointer-events: none;
}

.xoo-wl-exp-notice {
    display: table;
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    .xoo-wl-pimg img {
        display: none;
    }
}

.xoo-wl-pv-email-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.xoo-wl-pv-email-cont > span {
    font-weight: 600;
    margin-right: 15px;
    font-size: 17px;
}

.xoo-pv-email-links a {
    margin-right: 20px;
}

[data-tab="email"] .xoo-wl-pv-email-cont:last-child {
    margin-top: 20px;
}

.xoo-wl-field-addon-notice {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    display: table;
    text-decoration: none;
    background-color: #0073aa;
    color: #fff;
}

.xoo-wl-field-addon-notice:hover {
    color: #0073aa;
    background-color: #fff;
}

.xoo-wl-premium {
    padding: 20px 0;
}

.xoo-wlp-head {
    font-size: 24px;
    font-weight: bold;
}

.xoo-wlp-head a {
    font-size: 15px;
    margin: 0 3px;
}

ul.xoo-wlp-features {
    margin: 10px 20px;
    padding: 0;
    list-style-type: disc;
    color: #2a9d8f;
    font-weight: 600;
    font-size: 16px;
}

ul.xoo-wlp-features li {
    padding: 7px 0px;
}

.xoo-settings-container[active-tab="pro"] .xoo-sc-bottom-btns {
    display: none;
}

.xoo-el-li-info li > span {
    display: block;
    padding: 8px 10px;
    background-color: #eee;
    border-radius: 5px;
}

.xoo-settings-container[active-tab="addon"] .xoo-sc-bottom-btns {
    display: none;
}

.xoo-addon {
    display: inline-block;
    max-width: 300px;
    padding: 20px 20px 50px 20px;
    border: 2px solid #eee;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.xoo-addon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.xoo-addon .dashicons {
    font-size: 42px;
    display: table;
    margin: 0 auto;
    color: #1d3557;
}

span.xoo-ao-title {
    display: block;
    text-align: center;
    margin: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}

.xoo-ao-btns {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.xoo-ao-btns a {
    text-decoration: none;
    background-color: #2a9d8f;
    color: #fff;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 2px;
}

.xoo-ao-desc {
    line-height: 21px;
    margin-bottom: 10px;
}

.xoo-wl-imp-container {
    padding: 0 20px 10px;
}

form.xoo-wl-imp-form {
    display: none;
}

.xoo-wl-imp-form a {
    display: block;
    margin-bottom: 10px;
}

span.xoo-wl-imp-progress {
    color: green;
    display: inline-block;
    font-weight: bold;
    border: 1px dotted green;
    margin: 10px 0;
    padding: 5px;
}

.xoo-wl-exp-container, .xoo-wl-imp-container {
    display: inline-block;
}

.xoo-wl-exim-no form {
    cursor: not-allowed;
    opacity: 0.6;
}

.xoo-wl-exim-no form * {
    pointer-events: none;
}

.xoo-wl-exim-no.xoo-wl-active .xoo-wl-exim-no-notice {
    display: block;
}

.xoo-wl-exim-no-notice {
    display: none;
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    font-style: italic;
}

.xoo-wl-cron-failed {
    display: table;
    margin-top: 20px;
    border: 2px dashed red;
    max-width: 600px;
    padding: 20px;
}

.xoo-wl-cron-info > span {
    display: block;
    font-size: 17px;
    line-height: 22px;
}

.xoo-wl-cron-info > div > i {
    display: block;
    margin-bottom: 5px;
}

.xoo-wl-cron-info > div {
    margin: 20px 0;
}

.xoo-wl-cron-failed a {
    margin-bottom: 10px;
    display: inline-block;
}

.xoo-sc-shortcodes {
    margin-top: -40px;
}

.xoo-sc-tab-content[data-tab="info"] > div {
    margin-bottom: 40px;
}

.xoo-sc-container {
    padding: 16px 0 0 0;
}

.xoo-sc-tab-content[data-tab="info"] h3 {
    font-size: 18px;
}

.xoo-wl-date {
    display: flex;
    flex-direction: column;
}

.xoo-wl-product-col {
    display: flex;
    gap: 10px;
}

.xoo-wl-prod-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

button.button.xoo-wl-remove-row {
    color: #ea2828;
    border-color: #ea2828;
}

.xoo-wl-date span:nth-child(2) {
    opacity: 0.8;
}

.xoo-wl-users-stats > div {
    display: flex;
    padding: 20px;
    background-color: #fff;
    gap: 10px;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #c3c4c7;
}

.xoo-wl-users-stats {display: flex;max-width: 400px;width: 100%;background-color: #fff;cursor: pointer;border-radius: 5px;flex-wrap: wrap;overflow: hidden;}

.xoo-wlusst-left {
    display: flex;
    gap: 5px;
}

.xoo-wlusset-right {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xoo-wlusst-left label {
    font-size: 15px;
    cursor: pointer;
}

.xoo-wlusst-left span {
    font-size: 19px;
}

.xoo-wl-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.xoo-wl-icon svg {
    width: 19px;
    height: auto;
}

.xoo-wl-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.xoo-wl-view {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
}

.xoo-wl-view a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    flex-wrap: wrap;
}

a.xoo-wlview-active {
    background-color: #267fc7;
    color: #fff;
}

.xoo-wl-view a:focus {
    border: 0;
    box-shadow: unset;
}

.xoo-wl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 13px;
    background-color: #267fc7;
    color: #fff;
    gap: 6px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #267fc7;
    flex-wrap: wrap;
}

.xoo-wl-button svg {
    width: 20px;
    height: auto;
}

.xoo-wl-button:hover {
    opacity: 0.8;
}

.xoo-wl-button.xoo-wl-btnoutline {
    background-color: transparent;
    border: 1px solid #267fc7;
    color: #267fc7;
}

.xoo-wl-table .column-quantity {
    width: 10%;
}

.xoo-wl-table .column-join_date {
    width: 15%;
}

.xoo-wl-product-info {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
}

.xoo-wl-prod-stockstatus, .xoo-wl-prod-deleted {
    align-self: flex-start;
    font-size: 11px;
    padding: 0px 7px;
    border-radius: 2px;
}

.xoo-wl-prod-stockstatus.xoo-wl-prod-stock-instock {
    color: #047857;
    background-color: #bce9bc;
}

.xoo-wl-prod-stockstatus.xoo-wl-prod-stock-outofstock , .xoo-wl-prod-deleted {
    color: #b91c1c;
    background-color: #f1dada;
}

.xoo-wl-product-count > div {
    display: flex;
    gap: 2px;
    background-color: #f6f7f7;
    padding: 5px 10px;
    border-radius: 5px;
}

.xoo-wl-product-count {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.xoo-wl-product-count label {
}

.xoo-wl-prorigh-links a {
    text-decoration: none;
}

.xoo-wl-product-count > div span {

}

.xoo-wl-product-info .xoo-wl-prod-right {
    gap: 10px;
}

.xoo-wl-prod-left img {
    max-width: 50px;
    height: auto;
}

.xoo-wl-product-info .xoo-wl-prod-left img {
    max-width: 100px;
}

td.xoo-wl-tr-notice {
    text-align: center;
    padding: 15px;
}

td.xoo-wl-tr-notice a{
    text-decoration: underline;
}

.xoo-wl-user-stats a {
    flex: 1;
    min-width: 0;
}

.xoo-wl-users-stats a {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    text-decoration: none;
}

.xoo-wl-prorigh-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.xoo-wl-product-notavailb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

input#xoo-wl-search-search-input {
    max-width: 200px;
}

.xoo-wl-prod-stockstatus.xoo-wl-prod-stock-onbackorder {
    background-color: #67b8fd69;
}